{% extends "home/base.html" %}
{% load static %}

{% block title %}
<title>关于我们</title>
{% endblock title %}


{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'home/styles/fortext.css' %}">
    <link rel="stylesheet" href="{% static 'home/about/styles.css' %}">
{% endblock otherstyles %}
    

{% block content %}

    <div class="about">
        <h1>关于我们</h1>
        <p>
            东南大学，作为一所历史悠久、底蕴深厚的高等学府，始终致力于培养具有家国情怀与时代担当的新时代青年。学校鼓励东大学子围绕“红色梅庵”的主题，开展社会实践活动，以期让红色历史深入学子的心中。我们团队——梅庵云迹实践团在这样的背景下应运而生。我们怀揣着对技术的无限热爱、对历史的深切敬畏以及对未来的美好憧憬，共同致力于打造一个基于梅庵的介绍网站。在这个充满挑战与机遇的项目中，我们团队成员各展所长，专业背景与兴趣爱好相互交融，形成了一股强大的创新力量。
        </p>
        <p>
            我们深知，梅庵不仅承载着厚重的历史记忆与革命精神，更是连接过去与未来、传承与创新的重要纽带。然而，当前关于梅庵的信息分散且真实性有待验证，这无疑为大众深入了解梅庵、感受其独特魅力增添了障碍。因此，我们团队决定以实际行动响应时代号召，通过实地调研与技术创新，打造一个全面、专业、便捷的在线平台，让更多人能够轻松获取关于梅庵的准确信息，深刻感悟其背后的历史意义与现代价值。
        </p>
        <p>
            展望未来，梅庵云迹实践团将继续秉持着对技术的执着追求、对历史的深刻敬畏以及对未来的美好愿景，不断努力、不断创新，为传承红色基因、弘扬革命精神贡献我们的青春力量。我们相信，在全体成员的共同努力下，我们的网站将成为连接广大民众与梅庵红色历史的重要桥梁，让红色基因在新时代绽放出更加璀璨的光芒。
        </p>
    </div>

    <div class="about about-web">

        <h1>关于网站</h1>
        <p>
            在大力弘扬伟大爱国主义精神的背景下，东南大学鼓励东大学子围绕“红色梅庵”开展社会实践活动，学历史、悟精神、出点子、做贡献，打造“红色梅庵”基因库，进一步加强对“团二大”历史及意义的宣传推广，让红色历史深入学业、汇入生活、融入文化、深入人心，更加深刻感悟广大青年在中国共产党领导下的不懈奋斗史，增强永远跟党走的信仰、信念、信心。
        </p>
        <p>
            然而，目前网上关于梅庵的介绍信息存在一定的分散性，这不仅为大众获取梅庵相关信息带来了诸多不便，也为有意愿预约参观梅庵的群体增添了阻碍。面对这一现象，我们团队结合平时上网的经验以及专业所学，敏锐地意识到，一些博物馆介绍网站的成功经验恰好为解决这些问题提供了有益借鉴。
        </p>
        <p>
            因此，梅庵云迹实践团决定基于实地调研，精心打造一个专业化、智能化的在线平台。该平台将致力于提供关于梅庵全面、专业、权威的介绍信息，以打破信息壁垒，提升信息的可获得性，为广大受众深入了解“红色梅庵”的历史底蕴与精神内涵提供便捷渠道，为传承红色基因、弘扬爱国主义精神贡献一份力量。
        </p>
        <p>以下是网站搭建相关信息参考：<a href="https://r1way.github.io/know/ideas/meian_web.html" target="_blank">meiancloud - know</a></p>
        <!-- <hr> -->
    </div>


    <!-- <hr> -->
    <div class="connet-us about">
        <h1>联系我们</h1>
        <div class="info-container">
            
            <!-- 公众号 -->
            <div class="block">
                <h3>微信公众号</h3>
                <img src="{% static 'home/about/images/gzh.png' %}" alt="公众号二维码">
            </div>
    
            <!-- B站 -->
            <div class="block">
                <h3>B站</h3>
                <a href="https://b23.tv/t8Umy4l" target="_blank">
                    <img src="{% static 'home/about/images/bilibili.png' %}" alt="B站图标">
                </a>
            </div>
    
            <!-- 问卷调查 -->
            <div class="block">
                <h3>反馈问卷</h3>
                <img src="{% static 'home/about/images/questionnaire.png' %}" alt="问卷调查">
            </div>
        </div>
    </div>
    
{% endblock content %}