{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    <title>修改密码</title>
{% endblock title %}


{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'home/styles/login.css' %}">
{% endblock otherstyles %}
    

{% block headscript %}
<script>
    function showSuccessMessage(){
        alert('修改密码成功，请重新登录');  // 弹窗显示消息
        window.location.href = "{% url 'home:login' %}";
    }
</script>
{% endblock headscript %}
    
    
{% block content %}
    <div class="container" style="text-align: center;">
        <div class="login-container">
            <h3>修改密码</h3>
            <p>当前用户名：{{user.username}}</p>
    
            <!-- 显示非字段错误 -->
            {% if form.non_field_errors %}
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
    
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">原密码</label>
                    {{ form.old }}
                    {% if form.old.errors %}
                        <div class="field-error">
                            {% for error in form.old.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_new1">新密码</label>
                    {{ form.new1 }}
                    {% if form.new1.errors %}
                        <div class="field-error">
                            {% for error in form.new1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_new2">再次输入新密码</label>
                    {{ form.new2 }}
                    {% if form.new2.errors %}
                        <div class="field-error">
                            {% for error in form.new2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="login-button">修改密码</button>
            </form>
        </div>
    </div>

    
    {% if success %}
        <script>
            console.log('登录成功');
            showSuccessMessage();
        </script>
    {% endif %}
        

{% endblock content %}